body{
            background-color: aliceblue;
            font-family: 'Times New Roman';
        }
        .text-danger {
            color: red;
        }
        .bg-success {
            background-color: green;
        }
        .textkuning{
            color: yellow;
        }
        .bgBiru{
            background-color: blue;
        }
        